.wd-assignments,
.wd-assignments * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-assignments {
  margin: 5px;
}

.wd-assignments > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-assignments > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-assignments > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-assignments > li > ul > li > ul > li {
  padding: 5px;
  padding-left: 35px;
  border-top: 1px solid gray !important;
}

.wd-assignments > li {
  margin-bottom: 20px;
}

.wd-assignments li > div > i {
  margin: 8px;
}

.wd-assignments li > div > span > a {
  margin: 0 4px 0 4px;
  padding: 5px;
  border: 1px solid grey;
  display: inline-flex;
  background-color: #e7e7e7;
  color: black;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.green {
  color: green;
}

.spacing {
  padding: 15px;
}

.assignment-item-link {
  color: green;
  padding-left: 15px;
  padding-right: 5px;
}

.wd-assignments > li > ul > li > ul > li a {
  color: red;
  text-decoration: none;
}

.wd-assignments > li > ul > li > ul > li a i {
  color: red;
  text-decoration: none;
  margin-right: 20px;
}

.wd-assignments > li > ul > li > ul > li a:hover {
  text-decoration: underline;
}

.top-button-bar {
  padding-right: 20px;
}

.top-button-bar > a {
  margin: 0 4px 0 4px;
  padding: 5px;
  border: 1px solid black;
  display: inline-flex;
  background-color: #e7e7e7;
  color: black;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.top-button-bar > a.red {
  background-color: red;
}

.top-button-bar > a > i {
  padding-right: 6px;
}
