.spacing {
    margin-left: 10%;
    max-width:70%;
}

.card-container .col {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 30px; 
  }
  
  .card {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px; 
  }
  
  

@media (max-width: 699px) {
    .wd-kanbas-navigation {
      display: none;
    }
  }